<p class="title_p">IT122 DETAIL PAGE</p>
<P><a class="default_a" href="/">BACK TO HOME PAGE</a></P>
{{#with item}}
<table id="detail_page_table">
    <tr>
        <td>ID</td>
        <td>{{id}}</td>
    </tr>
    <tr>
        <td>NAME</td>
        <td>{{name}}</td>
    </tr>
    <tr>
        <td>BRAND</td>
        <td>{{Brand}}</td>
    </tr>
    <tr>
        <td>RANKING</td>
        <td>{{ranking}}</td>
    </tr>
    <tr>
        <td>COMMENTS</td>
        <td>{{comments}}</td>
    </tr>
    <tr>
        <td>PRICE</td>
        <td>{{price}}</td>
    </tr>
    <tr>
        <td>GET</td>
        <td>{{GET}}</td>
    </tr>
</table>
{{/with}}